.Header {
  .vDivider {
    width: 24px;
    height: 0;
    border: 1px solid #DCDDE0;
    transform: rotate(90deg);
  }

  .links {
    ul {
      list-style: none;
      padding: 0;
      display: inline-flex;
    }

    .sideLink {
      color: var(--ca-gray-dark);
      display: flex;
      align-items: center;

      .text {
        margin: 0 .5rem;
      }

      &.active {
        .text {
          font-weight: 700;
        }
      }
    }
  }
}

