$caBlue: #007BFF;
$caGreen: #02C39A;
$caRed: #FF4C49;
$caOrange: #FF9549;
$caBrown: #7E5D5D;
$caBlack: #000;
$caWhite: #fff;
$caGray: #6c757d;
$caGrayDark: #7C808E;
$caGrayBlue: #215A97;

$sizes: ("sm", "md", "lg");
